<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="cache-control" content="no-cache, must-revalidate, post-check=0, pre-check=0">
        <meta http-equiv="expires" content="0">
        <meta http-equiv="pragma" content="no-cache">    
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
        <title>MoodSculpt</title>
    </head>
    <body>
        <nav>
            <div class="nav__logo"><a href="/">
                <img src="{{ url_for('static', filename='images/Mood.png') }}" alt="MoodSculpt" class="logo-img">
                <span>MoodSculpt</span>
            </a></div>
            <ul class="nav__links">
                {% if current_user.is_authenticated %}
                <li class="link"><a href="/logout" class="link">Logout</a></li>
                {% else %}
                <li class="link"><a href="/login" class="link">Login</a></li>
                <li class="link"><a href="/signup" class="link">Signup</a></li>
                {% endif %}
            </ul>
        </nav>
        <header style="background:
        url('{{ url_for('static', filename='images/bg-1.jpg') }}') center center no-repeat;
        background-size: cover;">
            <div class="section__container">
                <div class="header__content">
                    <h1>MoodSculpt</h1>
                    <P>Track Your Mood and Emotions with Ease. Discover new insights into your emotional well-being
                    and gain a deeper understanding of your feelings. Our platform makes it simple and intuitive to record and analyze your daily moods,
                    providing you with valuable information to enhance your overall emotional health.
                    </P>
                    <a href="/signup" class="button">Discover more</a>
                </div>
            </div>
        </header>
    </body>
</html>
