<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
        <META charset="UTF-8">
        <META name="viewport" content="width=device-width, initial-scale=1.0">
        <LINK rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
        <TITLE>MoodSculpt</TITLE>
    </HEAD>
    <BODY>
        <HEADER>
            <NAV>
                <DIV class="logo">
                    <SPAN>MoodSculpt</SPAN>
                </DIV>
                <UL class="left-links">
                    <LI><A href="/">Home</A></LI>
                    <LI><A href="/about">About Us</A></LI>
                    <LI><A href="/journal">Mood Journal</A></LI>
                </UL>
                <UL class="right-links">
                    {% if 'username' in session %}
                        <LI><A href="/logout">Logout</A></LI>
                    {% else %}
                        <LI><A href="/login">Login</A></LI>
                        <LI><A href="/signup">Sign Up</A></LI>
                    {% endif %}
                </UL>
            </NAV>
        </HEADER>
        <MAIN>
            <SECTION class="hero">
                <H1>Welcome to MoodSculpt</H1>
                <P>Track Your Mood and Emotions with Ease.</P>
            </SECTION>
            <SECTION class="features">
                <H2> Key Features</H2>
                <UL>
                    <LI>Simple and Intuitive Mood Tracking</LI>
                    <LI>Secure and Private User Accounts</LI>
                    <LI>Personalized Insights into Your Mood Patterns</LI>
                </UL>
            </SECTION>
            <SECTION class="call-to-action">
                <P>Get Started Today and Take Control Of Your Emotions!!</P>
                <A href="/signup" class="btn">Sign Up</A>
            </SECTION>
        </MAIN>
        <FOOTER>
            <P>&copy; 2023 MoodSculpt. All Rights Reserved.</P>
        </FOOTER>
    </BODY>
</HTML>